nav {
    display: block;
}

footer {
    background-color: #006191;
    padding: 1rem;
    color: #fff;
    border-radius: 2.5rem 2.5rem 0 0;
}

footer section {
    float: right
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;   
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-bottom: 0rem
}

ul {
    list-style: none;
}

footer a:hover {
    color: cornflowerblue;
}
